* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    padding: 40px;
}

article {
    border: 5px solid black;
    margin: 0 auto;
    width: 825px;
    position: relative;
}

article::before {
    content: "SALE";
    color: white;
    background-color: rgb(204, 1, 1);
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 13px;
    position: absolute;
    top: -15px;
    left: -37px;
    letter-spacing: 2.5px;
}

h2,
.free,
h3,
button {
    text-transform: uppercase;
}

p strong {
    font-size: 24px;
}

h2 {
    text-align: center;
    background-color: #ddd;
    padding: 18px;
}

.free {
    color: #7a7a7a;
    font-weight: bold;
}

.desc {
    margin-bottom: 15px;
    margin-top: 30px;
}

a:link {
    color: black;
}

a:hover {
    text-decoration: none;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

li {
    list-style: square;
    margin-left: 20px;
    margin-bottom: 14px;
    margin-right: 6px;
}

button {
    background-color: black;
    color: white;
    border: 5px solid black;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 5px solid white;
}

.boxes {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 25px;
    height: 25px;
}

.box1 {
    background-color: #000;

}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: pink;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: greenyellow;
}

.box6 {
    background-color: brown;
}

/*
.image {
    float: left;
}

.info {
    width: 250px;
    float: left;
    margin-left: 37.5px;
}

.details {
    float: right;
    width: 250px;
    padding-right: 30px;
}
*/

.row {
    display: flex;
    justify-content: space-between;
}

.info,
.details {
    flex: 0 0 250px
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}