body {
    border: 5px solid black;
    font-family: sans-serif;
    color: black;
}

h2,
.free,
h3,
button {
    text-transform: uppercase;
}

strong {
    font-size: 24px;
}

h2 {
    text-align: center;
    background-color: #ddd;
}

.free {
    color: #7a7a7a;
    font-weight: bold;
}

a:link {
    color: black;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: square;
}

button {
    background-color: black;
    color: white;
    border: 5px solid black;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 5px solid white;
}